body,
html {
    font-family: "Montserrat", Helvetica, sans-serif;
    background: rgb(8, 0, 41);
    overflow-x: hidden;
    position: relative;
}
.main-container {
    /* background: url(./img/section-1.png) center top no-repeat; */
    background: rgb(8, 0, 41);
    background-size: cover;
    overflow: hidden;
}
.main-container-inner {
    background: url(./img/section-1.png) center top no-repeat;
    position: absolute;
    top: 0;
    min-height: 1915px;
    width: 100%;
    background-size: cover;
}
@media screen and (min-width: 1921px) {
    .main-container-inner {
        min-height: 2515px;
    }
}
.screen-section {
    /* min-width: 100%; */
    width: 100%;
    /* max-width: 1920px; */
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    /* overflow-x: hidden; */
}
.section-content {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.screen-section-first {
    padding-top: 140px;
    min-height: initial;
    height: calc(100vh - 140px);
    margin-bottom: 140px;
    max-height: 1100px;
}
.screen-section-second {
    /* background: url(./img/section-2.png); */
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 1779px;
    margin-top: 230px;
    margin-bottom: 300px;
    /* min-height: calc(100vh + 300px); */
    /* min-height: 100vh; */
}
.screen-section-second-bg {
    background: url(./img/section-2-new.png) left center no-repeat;
    background-size: contain;
    position: absolute;
    left: -450px;
    top: 70px;
    /* top: -300px; */
    width: 100%;
    /* height: 100%; */
    min-height: 1679px;
}
@media screen and (min-width: 1921px) {
    .screen-section-second-bg {
        background: url(./img/section-2-new.png) 30% center no-repeat;
    }
}
@media screen and (min-width: 2559px) {
    .screen-section-second-bg {
        background: url(./img/section-2-new.png) 40% center no-repeat;
    }
}
.opacity-hidden-section-3 {
    opacity: 0;
}

.screen-section-third {
    background: url(./img/section-3.png) center bottom no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    margin-top: -550px;
    position: relative;
    z-index: 2;
    min-height: 1286px;
    /* margin: -150 0; */
}
@media screen and (min-width: 1921px) {
    .screen-section-third {
        background: url(./img/section-3.png) center -0px no-repeat;
        background-size: cover;
    }
}

.row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* logo */
.logo-wrapper {
    border-radius: 55px;
    box-shadow: 0px 17px 92px -7px #601cb0;
    animation: blinkLogoShadow 3s linear infinite;
}
.logo-wrapper img {
    border-radius: 55px;
}
@keyframes blinkLogoShadow {
    0% {
        box-shadow: 0px 17px 92px -7px #601cb0;
    }
    50% {
        box-shadow: 0px 17px 92px -7px #611cb094;
    }
    100% {
        box-shadow: 0px 17px 92px -7px #601cb0;
    }
}

/* end logo */

.page-title {
    margin-top: 60px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 56.2759px;
    text-align: center;
    color: #ffffff;
}
.page-title .green {
    color: rgb(46, 255, 120);
}

.page-description {
    margin-top: 16px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    line-height: 34px;
}

.join-btn {
    background-color: #ecff77;
    padding: 20px 70px;
    border-radius: 100px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-top: 40px;
    font-weight: 500;
    transition: background-color 250ms ease;
}
.join-btn:hover {
    background-color: #d2e269;
}

.qr-btn {
    margin-top: 40px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.qr-text {
    color: #ffffff;
    margin: 0;
    text-align: center;
    margin-top: 40px;
    line-height: 25px;
}

.screen-section-first--btn-down {
    position: absolute;
    left: 50%;
    margin-left: -26px;
    bottom: 38px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2;
}
.arrow-animate {
    animation: arrowAnimate 2s linear infinite;
    animation-delay: 1s;
}
@keyframes arrowAnimate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.screen-section-first--phone {
    position: absolute;
    left: 0;
    top: -140px;
    animation: phoneAnimate 3s linear infinite;
    pointer-events: none;
}
.screen-section-first--phone-2 {
    position: absolute;
    right: 0;
    top: -140px;
    animation: phoneAnimate 3s linear infinite;
    animation-delay: 1.5s;
    pointer-events: none;
}
@media screen and (max-width: 1721px) {
    .screen-section-first--phone {
        left: -150px;
    }
    .screen-section-first--phone-2 {
        right: -130px;
    }
}
@media screen and (max-width: 1400px) {
    .screen-section-first--phone {
        display: none;
    }
    .screen-section-first--phone-2 {
        display: none;
    }
}
@keyframes phoneAnimate {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.transition-animate {
    transition: all 250ms ease;
}
.opacity-translate-hidden {
    opacity: 0;
    transform: translateY(-30px);
}
.opacity-hidden {
    opacity: 0;
}

.screen-section-second-circle-left {
    position: absolute;
    width: 1300px;
    height: 1384px;
    left: -300px;
    top: -317px;
    background: #470d85;
    filter: blur(283px);
    border-radius: 100%;
    pointer-events: none;
}
.section-2-content {
    position: relative;
}
.row-section-2-title {
    padding-left: 470px;
}
@media screen and (max-width: 1721px) {
    .row-section-2-title {
        padding-left: 270px;
    }
}
@media screen and (max-width: 1400px) {
    .row-section-2-title {
        padding-left: 30px;
    }
}
.row-section-2-title h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 56.2759px;
    color: #ffffff;
}

.row-section-2-title h3 span {
    color: rgb(46, 255, 120);
}
.row-section-2-title p {
    color: rgb(46, 255, 120);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #ffffff;
}

.phone-2-1 {
    position: absolute;
    right: 0;
    top: -400px;
    pointer-events: none;
    animation: phoneAnimate 2s linear infinite;
}
.phone-2-2 {
    top: -315px;
    animation-delay: 0.3s;
}
.phone-2-3 {
    top: -250px;
    animation-delay: 0.5s;
}
.phone-2-4 {
    top: -200px;
    animation-delay: 0.8s;
}
.opacity-translate-right {
    transform: translateX(-30px);
    opacity: 0;
}

.phone-3-1 {
    position: absolute;
    left: 130px;
    top: 380px;
}
@media screen and (max-width: 1721px) {
    .phone-3-1 {
        top: 580px;
    }
}
@media screen and (max-width: 1400px) {
    .phone-3-1 {
        top: 580px;
        left: -80px;
    }
}
@media screen and (min-width: 1921px) {
    .phone-3-1 {
        top: 410px;
    }
}
@media screen and (min-width: 2559px) {
    .phone-3-1 {
        top: 510px;
    }
}

.section-3-title {
    position: absolute;
    right: 600px;
    top: 830px;
    z-index: 3;
}
@media screen and (max-width: 1721px) {
    .section-3-title {
        right: 350px;
    }
}
@media screen and (max-width: 1400px) {
    .section-3-title {
        right: 30px;
        top: 930px;
    }
}
.section-3-title h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 56.2759px;
    color: #ffffff;
}

.section-3-title h3 span {
    color: rgb(46, 255, 120);
}
.section-3-title p {
    color: rgb(46, 255, 120);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #ffffff;
}
.circle-3 {
    position: absolute;
    width: 1262px;
    height: 1572px;
    right: -600px;
    top: 520px;
    background: #520ead;
    filter: blur(500px);
    transform: rotate(-118.86deg);
    pointer-events: none;
}

.section-3-content {
    position: relative;
    z-index: 3;
    padding-top: 220px;
}
@media screen and (min-width: 1921px) {
    .section-3-content {
        padding-top: 50px;
    }
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background: rgba(5, 0, 54, 0.3);
    background-image: url(./img/footer-bg.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
footer .section-content {
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 35px;
}
footer .section-content p {
    line-height: 23px;
}

footer .section-content .links {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
footer .section-content .links a {
    display: flex;
    flex: 1;
    min-width: 160px;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
}
footer .section-content .links a:hover {
    text-decoration: underline;
}
.opacity-third-screen-hidden {
    opacity: 0;
}

.screen-section-first--gradient-circle {
    position: absolute;
    z-index: 0;
    top: -140px;
    min-height: calc(100vh + 140px);
    width: 100%;
    /* height: 100%; */
    --x: 9%;
    --y: 9%;
    background: radial-gradient(
        circle at var(--x) var(--y),
        rgb(16, 44, 109),
        rgb(8, 0, 41) 30%
    );
    animation: a 0s ease-in-out -2.3s alternate infinite;
    animation-name: x, y;
    animation-duration: 5s, 3.9s;
    /* animation-duration: 4.1s, 2.9s;
    /* animation-duration: 4.1s, 2.9s; */
}

.screen-section-first--gradient-circle-2 {
  position: absolute;
  z-index: 0;
  top: -140px;
  min-height: calc(100vh + 140px);
  width: 100%;
  /* height: 100%; */
  --x: 39%;
  --y: 49%;
  background: radial-gradient(
      circle at var(--x) var(--y),
      rgb(16, 44, 109),
      rgb(8, 0, 41) 30%
  );
  animation: a 0s ease-in-out -2.3s alternate infinite;
  animation-name: x, y;
  animation-duration: 5s, 3.9s;
  transition-delay: 2s;
  /* animation-duration: 4.1s, 2.9s;
  /* animation-duration: 4.1s, 2.9s; */
}

@keyframes x {
    to {
        --x: 91%;
    }
}
@keyframes y {
    to {
        --y: 91%;
    }
}
