/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body, html {
    font-family: "Montserrat", Helvetica, sans-serif;
    background-color: #050036;
    background: url(./img/bg.jpg) center top no-repeat;
    background-size: cover;
    /* overflow-x: hidden;
    position: relative; */
}

.main-container {
    /* background: url(./img/section-1.png) center top no-repeat; */
    /* background: rgb(8, 0, 41);
    background-size: cover;
    overflow: hidden; */
    overflow: hidden;
}

.main-container-inner {
    background: url(./img/section-1.png) center top no-repeat;
    position: absolute;
    top: 0;
    min-height: 1915px;
    width: 100%;
    background-size: cover;
}

@media screen and (min-width: 1921px) {
    .main-container-inner {
        min-height: 2515px;
    }
}

.screen-section {
    /* min-width: 100%; */
    width: 100%;
    /* max-width: 1920px; */
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    /* overflow-x: hidden; */
}

.section-content {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    z-index: 2;
}

.screen-section-first {
    padding-top: 140px;
    min-height: initial;
    height: 1098px;
    height: calc(100vh - 140px);
    margin-bottom: 140px;
    /* max-height: 1100px; */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-height: 1000px;
}

@media screen and (max-height: 1033px) {
    .screen-section-first {
        padding-top: 30px;
        height: calc(100vh);
    }
}

@media screen and (max-height: 900px) {
    .screen-section-first {
        padding-top: 30px;
        height: calc(100vh + 50px);
    }
    .section-content {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@media screen and (max-height: 852px) {
    .screen-section-first {
        padding-top: 20px;
        height: calc(100vh + 50px);
    }
    .section-content {
        top: -100px;
        height: calc(100vh + 200px);
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
}

.screen-section-second {
    /* background: url(./img/section-2.png); */
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 1779px;
    margin-top: 230px;
    margin-bottom: 300px;
    /* min-height: calc(100vh + 300px); */
    /* min-height: 100vh; */
}

.screen-section-second-bg {
    background: url(./img/section-2-new.png) left center no-repeat;
    background-size: contain;
    position: absolute;
    left: -450px;
    top: 70px;
    /* top: -300px; */
    width: 100%;
    /* height: 100%; */
    min-height: 1679px;
}

@media screen and (min-width: 1921px) {
    .screen-section-second-bg {
        background: url(./img/section-2-new.png) 30% center no-repeat;
    }
}

@media screen and (min-width: 2559px) {
    .screen-section-second-bg {
        background: url(./img/section-2-new.png) 40% center no-repeat;
    }
}

.opacity-hidden-section-3 {
    opacity: 0;
}

.screen-section-third {
    background: url(./img/section-3.png) center bottom no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    margin-top: -550px;
    position: relative;
    z-index: 2;
    min-height: 1286px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* margin: -150 0; */
}

@media screen and (min-width: 1921px) {
    .screen-section-third {
        background: url(./img/section-3.png) center -0px no-repeat;
        background-size: cover;
    }
}

.row-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* logo */

.logo-wrapper {
    border-radius: 55px;
    -webkit-box-shadow: 0px 17px 92px -7px #601cb0;
    box-shadow: 0px 17px 92px -7px #601cb0;
    -webkit-animation: blinkLogoShadow 3s linear infinite;
    animation: blinkLogoShadow 3s linear infinite;
}

.logo-wrapper img {
    border-radius: 55px;
}

@-webkit-keyframes blinkLogoShadow {
    0% {
        -webkit-box-shadow: 0px 17px 92px -7px #601cb0;
        box-shadow: 0px 17px 92px -7px #601cb0;
    }
    50% {
        -webkit-box-shadow: 0px 17px 92px -7px #611cb094;
        box-shadow: 0px 17px 92px -7px #611cb094;
    }
    100% {
        -webkit-box-shadow: 0px 17px 92px -7px #601cb0;
        box-shadow: 0px 17px 92px -7px #601cb0;
    }
}

@keyframes blinkLogoShadow {
    0% {
        -webkit-box-shadow: 0px 17px 92px -7px #601cb0;
        box-shadow: 0px 17px 92px -7px #601cb0;
    }
    50% {
        -webkit-box-shadow: 0px 17px 92px -7px #611cb094;
        box-shadow: 0px 17px 92px -7px #611cb094;
    }
    100% {
        -webkit-box-shadow: 0px 17px 92px -7px #601cb0;
        box-shadow: 0px 17px 92px -7px #601cb0;
    }
}

/* end logo */

.page-title {
    margin-top: 60px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 56.2759px;
    text-align: center;
    color: #ffffff;
}

.page-title .green {
    color: rgb(46, 255, 120);
}

.page-description {
    margin-top: 16px;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    line-height: 34px;
}

.join-btn {
    background-color: #ecff77;
    padding: 20px 70px;
    border-radius: 100px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-top: 40px;
    font-weight: normal;
    -webkit-transition: background-color 250ms ease;
    -o-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
}

.join-btn:hover {
    background-color: #d2e269;
}

.qr-btn {
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.qr-text {
    color: #ffffff;
    margin: 0;
    text-align: center;
    margin-top: 40px;
    line-height: 25px;
}

.screen-section-first--btn-down {
    position: absolute;
    left: 50%;
    margin-left: -26px;
    bottom: 38px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 2;
}

.arrow-animate {
    -webkit-animation: arrowAnimate 2s linear infinite;
    animation: arrowAnimate 2s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes arrowAnimate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrowAnimate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.screen-section-first--phone {
    position: absolute;
    left: 0;
    top: -140px;
    -webkit-animation: phoneAnimate 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    animation: phoneAnimate 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.screen-section-first--phone img {
    position: relative;
    z-index: 3;
    transform: translateZ(200px);
}

.screen-section-first--phone .video-wrapper {
    /* background: red; */
    width: 330px;
    height: 759px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 44px;
    overflow: hidden;
    -webkit-transform: perspective(1525px) skewX(-2deg) skewY(2deg) rotateX(0deg) rotate(173.8deg) rotateY(-31deg);
    transform: perspective(1525px) skewX(-2deg) skewY(2deg) rotateX(0deg) rotate(173.8deg) rotateY(-31deg);
    position: absolute;
    left: 231px;
    top: 141px;
}

.screen-section-first--phone .video-wrapper video {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.screen-section-first--phone-2 {
    position: absolute;
    right: 0;
    top: -140px;
    -webkit-animation: phoneAnimate 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    animation: phoneAnimate 3s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.screen-section-first--phone-2 img {
    position: relative;
    z-index: 3;
    transform: translateZ(200px);
}

.screen-section-first--phone-2 .video-wrapper {
    /* background: red; */
    width: 342px;
    height: 767px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 44px;
    overflow: hidden;
    -webkit-transform: perspective(1325px) skewX(-1.5deg) skewY(1deg) rotateX(0deg) rotate(4deg) rotateY(-34deg);
    transform: perspective(1325px) skewX(-1.5deg) skewY(1deg) rotateX(0deg) rotate(4deg) rotateY(-34deg);
    position: absolute;
    left: 396px;
    top: 137px;
    z-index: 1;
}

.screen-section-first--phone-2 .video-wrapper video {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    /* transform: rotate(180deg); */
}

@media screen and (max-width: 1721px) {
    .screen-section-first--phone {
        left: -150px;
    }
    .screen-section-first--phone-2 {
        right: -130px;
    }
}

@media screen and (max-width: 1400px) {
    .screen-section-first--phone {
        display: none;
    }
    .screen-section-first--phone-2 {
        display: none;
    }
}

@-webkit-keyframes phoneAnimate {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes phoneAnimate {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.transition-animate {
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.opacity-translate-hidden {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}

.opacity-hidden {
    opacity: 0;
}

.screen-section-second-circle-left {
    position: absolute;
    width: 1300px;
    height: 1384px;
    left: -300px;
    top: -317px;
    background: #470d85;
    -webkit-filter: blur(283px);
    filter: blur(283px);
    border-radius: 100%;
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.section-2-content {
    position: relative;
}

.row-section-2-title {
    padding-left: 470px;
}

@media screen and (max-width: 1791px) {
    .row-section-2-title {
        padding-left: 270px;
    }
}

@media screen and (max-width: 1563px) {
    .row-section-2-title {
        padding-left: 70px;
    }
}

.row-section-2-title h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 56.2759px;
    color: #ffffff;
}

.row-section-2-title h3 span {
    color: rgb(46, 255, 120);
}

.row-section-2-title p {
    color: rgb(46, 255, 120);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #ffffff;
}

.phone-2-1 {
    position: absolute;
    right: 150px;
    top: -390px;
    pointer-events: none;
    -webkit-animation: phoneAnimate 2s ease infinite;
    animation: phoneAnimate 2s ease infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.phone-2-1 img {
    position: relative;
    z-index: 3;
    transform: translateZ(200px);
}

.phone-2-1 .video-wrapper {
    /* background: red; */
    width: 313px;
    height: 707px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 44px;
    overflow: hidden;
    -webkit-transform: perspective(1825px) skewX(-1.5deg) skewY(1deg) rotateX(0deg) rotate(2deg) rotateY(-4deg);
    transform: perspective(1825px) skewX(-1.5deg) skewY(1deg) rotateX(0deg) rotate(2deg) rotateY(-4deg);
    position: absolute;
    left: 277px;
    top: 164px;
}

.phone-2-1 .video-wrapper video {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    /* transform: rotate(180deg); */
}

.blink-1 {
    position: absolute !important;
    /* background: #ff0000ad; */
    /* right: 31px; */
    top: 15px;
}

.phone-2-2 {
    top: -325px;
    right: 70px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.phone-2-3 {
    top: -230px;
    right: 30px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.phone-2-4 {
    right: 0;
    top: -150px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.opacity-translate-right {
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
}

.phone-3-1 {
    position: absolute;
    left: 130px;
    top: 380px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.blink-3 {
    position: absolute !important;
    width: 100%;
    height: 100%;
}

.phone-3-1 img {
    position: relative;
    /* z-index: 3; */
}

.phone-3-1 .video-wrapper {
    /* background: red; */
    width: 320px;
    height: 569px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1606px) skewX(1.5deg) skewY(-6.5deg) rotateX(0deg) rotate(180deg) rotateY(-14deg);
    transform: perspective(1606px) skewX(1.5deg) skewY(-6.5deg) rotateX(0deg) rotate(180deg) rotateY(-14deg);
    position: absolute;
    left: 279px;
    top: 228px;
}

.phone-3-1 .video-wrapper video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media screen and (max-width: 1563px) {
    .phone-3-1 {
        top: 580px;
        left: -80px;
    }
}

@media screen and (max-width: 1721px) {
    .phone-3-1 {
        top: 580px;
    }
}

@media screen and (max-width: 1800px) {
    .phone-3-1 {
        top: 580px;
        left: -130px;
    }
}

@media screen and (min-width: 1921px) {
    .phone-3-1 {
        top: 410px;
    }
}

@media screen and (min-width: 2559px) {
    .phone-3-1 {
        top: 510px;
    }
}

.section-3-title {
    position: absolute;
    right: 600px;
    top: 830px;
    z-index: 3;
}
@media screen and (max-width: 1721px) {
    .section-3-title {
        right: 330px;
    }
}

@media screen and (max-width: 1600px) {
    .section-3-title {
        /* right: 130px; */
        /* top: 930px; */
    }
}
@media screen and (max-width: 1300px) {
    .section-3-title {
        right: 270px;
        top: 930px;
    }
}
@media screen and (max-width: 1190px) {
    .section-3-title {
        right: 70px;
        top: 930px;
    }
}



.section-3-title h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 56.2759px;
    color: #ffffff;
}

.section-3-title h3 span {
    color: rgb(46, 255, 120);
}

.section-3-title p {
    color: rgb(46, 255, 120);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #ffffff;
}

.circle-3 {
    position: absolute;
    width: 1262px;
    height: 1572px;
    right: -600px;
    top: 520px;
    background: #520ead;
    -webkit-filter: blur(500px);
    filter: blur(500px);
    -webkit-transform: rotate(-118.86deg);
    -ms-transform: rotate(-118.86deg);
    transform: rotate(-118.86deg);
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.section-3-content {
    position: relative;
    z-index: 3;
    padding-top: 220px;
}

@media screen and (max-height: 960px) {
    .section-3-content {
        padding-top: 30px;
        transform: scale(0.8);
    }
    .phones-2 {
        transform: translateX(265px) translateY(-265px);
    }
    .screen-section-third {}
    .screen-section-second {
        margin-bottom: 150px;
    }
}

@media screen and (min-width: 1921px) {
    .section-3-content {
        padding-top: 50px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background: rgba(5, 0, 54, 0.3);
    background-image: url(./img/footer-bg.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding-top: 35px;
}

footer .section-content {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    /* padding-top: 35px; */
}

footer .section-content p {
    line-height: 23px;
}

footer .section-content .links {
    max-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

footer .section-content .links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 160px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
}

footer .section-content .links a:hover {
    text-decoration: underline;
}

.opacity-third-screen-hidden {
    opacity: 0;
}

.screen-section-first--gradient-circle {
    position: absolute;
    z-index: 0;
    top: -140px;
    min-height: calc(100vh + 140px);
    width: 100%;
    /* height: 100%; */
    --x: 9%;
    --y: 9%;
    background: -o-radial-gradient( var(--x) var(--y), circle, rgb(16, 44, 109), rgb(8, 0, 41) 30%);
    background: radial-gradient( circle at var(--x) var(--y), rgb(16, 44, 109), rgb(8, 0, 41) 30%);
    -webkit-animation: a 0s ease-in-out -2.3s alternate infinite;
    animation: a 0s ease-in-out -2.3s alternate infinite;
    -webkit-animation-name: x, y;
    animation-name: x, y;
    -webkit-animation-duration: 5s, 3.9s;
    animation-duration: 5s, 3.9s;
    /* animation-duration: 4.1s, 2.9s;
    /* animation-duration: 4.1s, 2.9s; */
}

.screen-section-first--gradient-circle-2 {
    position: absolute;
    z-index: 0;
    top: -140px;
    min-height: calc(100vh + 140px);
    width: 100%;
    /* height: 100%; */
    --x: 39%;
    --y: 49%;
    background: -o-radial-gradient( var(--x) var(--y), circle, rgb(16, 44, 109), rgb(8, 0, 41) 30%);
    background: radial-gradient( circle at var(--x) var(--y), rgb(16, 44, 109), rgb(8, 0, 41) 30%);
    -webkit-animation: a 0s ease-in-out -2.3s alternate infinite;
    animation: a 0s ease-in-out -2.3s alternate infinite;
    -webkit-animation-name: x, y;
    animation-name: x, y;
    -webkit-animation-duration: 5s, 3.9s;
    animation-duration: 5s, 3.9s;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    /* animation-duration: 4.1s, 2.9s;
  /* animation-duration: 4.1s, 2.9s; */
}

@-webkit-keyframes x {
    to {
        --x: 91%;
    }
}

@keyframes x {
    to {
        --x: 91%;
    }
}

@-webkit-keyframes y {
    to {
        --y: 91%;
    }
}

@keyframes y {
    to {
        --y: 91%;
    }
}

.ellipse-1 {
    position: absolute;
    top: -140px;
    z-index: 1;
}

.ellipse-2 {
    position: absolute;
    top: -140px;
    left: -140px;
    z-index: 1;
}

.ellipse-3 {
    position: absolute;
    top: -140px;
    right: -140px;
    z-index: 1;
}

.cookie-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
    width: 381px;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    padding: 0;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.cookie-wrapper p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.cookie-wrapper a {
    color: #fff;
    text-decoration: underline;
}

.cookie-wrapper a:hover {
    text-decoration: none;
}

.cookie-wrapper button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    width: 65px;
    height: 65px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    outline: none;
}

.cookie-wrapper button:hover {
    background-color: #F56B63;
    color: #fff;
}